@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-snpro: "SN Pro", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

/* Force le retour de la souris quand la lightbox est là */
.lightbox-open, .lightbox-open body {
  cursor: auto !important;
}

/* Cache le rond du curseur personnalisé */
.lightbox-open [class*="cursor"], 
.lightbox-open [class*="Cursor"] {
  display: none !important;
  opacity: 0 !important;
}

/* Classes pour la loupe */
.force-zoom { cursor: zoom-in !important; }
.force-unzoom { cursor: zoom-out !important; }